@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #1b1b1b;
  --background: #f3f3f3;
  --lightGray: rgb(139, 139, 139);
  --gray: #636363;
  --mediumGray: rgba(130, 130, 130, 0.287);
  --darkgray: #202020;
  --blackGray: #121212;
  --pink: #ffd3f1;
  --lightGray: #efefef;
}

body {
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  background-image: url("../../public/imgs/bg.png");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding-left: 200px;
}
